In [3]:
import pandas as pd
import numpy as np

In [27]:
import calendar

In [32]:
df=pd.read_csv('Train.csv')

In [33]:
df['TimeStamp']=pd.to_datetime(df['TimeStamp'])

In [34]:
df['Time']=df['TimeStamp'].dt.time

In [35]:
df['Date']=df['TimeStamp'].dt.date

In [37]:
df['Day']=df['TimeStamp'].dt.weekday_name

,TimeStamp,StandardTemperature,Humidity,Wind,Ticket1,Ticket2,Time,Date,Day
0,2068-04-18 03:00:00,0.284836,47.75442,0.221554,1,3,03:00:00,2068-04-18,Wednesday
1,2068-05-20 19:00:00,0.614588,48.72900,0.413520,108,233,19:00:00,2068-05-20,Sunday
2,2067-06-10 21:00:00,0.614588,28.26282,0.103405,52,197,21:00:00,2067-06-10,Friday
3,2067-01-08 02:00:00,0.269797,77.96640,0.000000,6,28,02:00:00,2067-01-08,Saturday
4,2067-08-07 00:00:00,0.689581,53.60190,0.088661,34,81,00:00:00,2067-08-07,Sunday